/* Footer properties --> */
.footer-area {
    width: 100%;
    background-image: url("../img/footer.png");
    text-align: center;
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
    height: 70px;
}

.footer-area a, .footer-area a:hover {
    color: #ffffff;
    text-decoration: none;
}

.infront-of-footer-item {
    position: relative;
    z-index: 1000
}

.text-deco-none a {
    text-decoration: none;
}

.text-deco-none a:hover {
    text-decoration: none;
}

/* <-- Footer properties */

/*
Tab Properties
*/

.tab-border {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border: 1px solid #d3d3d3;
}

.nav-tabs > .active > a {
    border-top: none;
}

.nav-tabs > .active > a:hover {
    border-top: none;
}



/* Custom Well properties --> */
#liquid-round {
    width: 100%;
    margin: 0px auto;
    background: #fff url(../img/content-pane/leftside.gif) repeat-y left top;
}

.top {
    width: 100%;
    height: 20px;
    background: url(../img/content-pane/top.gif) no-repeat left top;
}

.top span {
    display: block;
    position: relative;
    height: 20px;
    background: url(../img/content-pane/top-right.gif) no-repeat right top;
}

.center-content {
    position: relative;
    background: url(../img/content-pane/rightside.gif) repeat-y right top;
    padding: 1px 25px 1px 25px;
    margin: -1px 0 -50px 0;
}

.bottom {
    height: 60px;
    background: url(../img/content-pane/bottom.gif) no-repeat left bottom;
}

.bottom span {
    display: block;
    position: relative;
    height: 60px;
    background: url(../img/content-pane/bottom-right.gif) no-repeat right top;
}

/* <-- Custom Well properties */

/* Button properties --> */

.btn.green:hover {
    color: #ffffff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #152d46;
}

/* <-- Button properties */

/* Font properties --> */

.link-wo-underline a {
    text-decoration: none;
    color: #224d73;
}

.link-wo-underline a:hover {
    text-decoration: none;
    color: #152d46;
}

.title-color {
    color: #0088cc;
    font-family: 'Arimo', 'Helvetica', arial, serif;
    text-transform: none;
}

/* <-- Font properties */

/* Padding Properties --> */

.element-top-padding {
    padding-top: 10px;
}

/* <-- Padding Properties  */

/* Notice Properties ------> */

.notice-success {
    color: #02824d;
    font-family: 'Arimo', 'Helvetica', arial, serif;
    text-transform: none;
    text-align: center;
    border: 1px solid #6f8c36;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #e4ff90;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* <------- Notice Properties */

input[readonly] {
    border-color: transparent;
    background: #ffffff;
    cursor: pointer;
}

.select-xlarge {
    width: 280px;
}