html, body, #container-big {
    height: 100%;
}

body {
    background-image: url('../img/bg-full.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

body > #container-big {
    height: auto;
    min-height: 100%;
}

#content {
    padding-bottom: 5em;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 72px;
    margin-top: -3em;
}

#popcorn-footer {
    margin-top: -140px;
    position: relative;
    z-index: 12;
    padding-left: 120px;
}

