/*Pagination Styles*/

.paging ul {
    display: block;
    float: left;
    padding: 0px;

}

.paging li {
    display: block;
    float: left;
    padding: 0px;

}

#tnt_pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	padding-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
    margin-left: -25px;
    padding-bottom: 10px;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #bababa;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color: #007070;
	width:22px;
	font-weight:normal;
}

#tnt_pagination a:hover {
	background-color: #e0efdb;
	border:1px solid #66cc00;
	color: #009999;
}

#tnt_pagination .active_tnt_link {
	padding:7px;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid #155737;
	margin-left:10px;
	text-decoration:none;
	background-color: #e0efdb;
	color: #155737;
	cursor:default;
    margin-top: -1px;
}

#tnt_pagination .disabled_tnt_pagination {
	padding:7px;
	padding-top:0px;
	padding-bottom:0px;
	border:1px solid #cccccc;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
    margin-top: -1px;
}